<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('/images/favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>


<body class="d-flex flex-column min-vh-100">

<header>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{ path('app_main') }}">
                <img src="{{ asset('/images/logo.png') }}" alt="Logo" width="30" height="24"
                     class="d-inline-block align-text-top white-icon">
                <span class="text-white">Bucket-List</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link white-text" aria-current="page" href="{{ path('app_main') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" aria-current="page" href="{{ path('app_aboutus') }}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" aria-current="page"
                           href="{{ path('app_wish_list') }}">Whishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" aria-current="page" href="{{ path('app_wish_create') }}">Create
                            bucket</a>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li class="nav-item">
                            <a class="nav-link white-text" aria-current="page"
                               href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link white-text" aria-current="page" href="{{ path('app_register') }}">Sign
                                up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white-text" aria-current="page" href="{{ path('app_login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


</header>

<div class="flex-fill d-flex justify-content-center align-items-center">
    {% block body %}



    {% endblock %}

</div>

<footer>&copy; Copyright {{ "now"|date("Y") }} Bucket-List</footer>


</body>
</html>
